<h1>Welcome to the longest word-game !</h1>
<p>Here is your grid :</p>
<p><%=@grid%></p>

<form action="/score" method="get">
  <input type="text" name="answer" placeholder="What's your best shot ?">
  <button type="submit" class="btn btn-primary">Answer</button>
</form>


